body{
    background-color: #EDDDD0;
}
h1{
    color:#334259;
}
nav{
    background-color: #A6CAD4;
    text-align: center;
}
span{
    position: relative;
}
ul{
    list-style-position: inside;
}
.IndexHeading{
    font-family: 'Montserrat', sans-serif;
}
footer{
    background-color: #A6CAD4;
    text-align: center;
}