body{
    background-color: #D5E5F7;
}
h1{
    color:#1F4876;
    font-family: Montserrat, sans-serif;
}
nav{
    background-color: lightblue;
    text-align: center;
}
span{
    position: relative;
}
ul{
    list-style-position: inside;
}
