body{
    background-color: #EDDDD0;
}
h1{
    color:#334259;
}
nav{
    background-color: #A6CAD4;
    text-align: center;
}
span{
    position: relative;
}
.NavList{
    list-style-position: inside;
    list-style-type: none;
    display:flex;
    justify-content: center;
    align-items: center;
}
.NavList li{
    padding: 10px;
}
.IndexHeading{
    font-family: 'Montserrat', sans-serif;
}
footer{
    background-color: #A6CAD4;
    text-align: center;
}